.play-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;

  .banner {
    height: 72%;
    min-height: 72%;
    opacity: 0;
    position: relative;
    animation: opacbannerAnim 200ms ease-in forwards;
    z-index: 1;
    filter: brightness(1.05);
  }

  .bugrock-logo {
    position: absolute;
    top: -22px;
    left: 50%;
    translate: -50% 0;
    width: 245px;
    height: 42px;
    animation: logoDownAnim 300ms ease-in-out forwards;
  }

  .bar {
    position: relative;
    width: 100%;
    height: 56px;
    min-height: 56px;
    background: var(--play-bar-background);
    box-shadow: 0 4px 4px 0 #00000044;

    & > * {
      z-index: 2;
    }

    .username {
      position: absolute;
      right: 8px;
      top: 50%;
      translate: 0 -50%;
      font-family: 'Noto Sans';
      font-weight: bold;
      font-size: 0.8rem;
    }
  }

  .play-news-section {
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    place-items: center;
    gap: 1.6rem 0;
  }

  .system-requirements {
    background: #0e0e0e;
    width: 700px;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    padding: 0.3rem 0.8rem 0.8rem;
    box-shadow: 0 4px 4px 0 #00000044;

    h3 {
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Noto Sans';
    }

    table {
      margin-top: 0.5rem;
    }

    td {
      max-width: 33.33%;
      width: 33.33%;
      min-width: 33.33%;
      font-size: 0.58rem;
      padding: 0 0.4rem;
      font-family: 'Noto Sans';
      text-rendering: geometricPrecision;
      height: 40px;
    }

    th {
      text-align: left;
      padding: 0 0.4rem;
      height: 30px;
    }

    td:first-of-type, th {
      font-family: 'Noto Sans';
      font-weight: bold;
      font-size: 0.74rem;
    }
  }
}

@keyframes logoDownAnim {
  0% {
    top: -22px;
  }
  45% {
    top: 20px;
  }
  65% {
    top: 16px;
  }
  85% {
    top: 17px;
  }
  100% {
    top: 18px;
  }
}

@keyframes opacbannerAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}